@page 
@model IndexModel
@using PfannenkuchenBot.Commands.Logging
<h1>success</h1>
<form method="post">
    <input type="text" aps-for="Username" placeholder="Enter username!">
    <input type="text" aps-for="Command" placeholder="Enter command!">
    <button type=submit>Click here to submit</button>
</form>
<p>
    @Model.OutPut
</p>
<ul>
@if (Model.LatestResponses is not null && Model.LatestResponses.Count() < 0)
{
    foreach (CommandLogEntry logEntry in Model.LatestResponses)
    {
        <li>
            @logEntry.Content
        </li>
    }
}
</ul>